*{
    margin: 0px;
}

.graphsContainer{
    width: 95%;
    height: auto;

    margin: auto;
    margin-top: 5px;
}

.parentGraphContainer{
    margin-top: 45px;
    
}

.parentGraphContainer h2{
    margin: 0px;
}

.graph{
    color: white;
}


.largeGraphContainer{
    width: 100%;
    height: 500px;
}

.mediumGraphsContainer{
    display: flex;
    flex-direction: row;
    
    gap: 45px;
    height: 350px;
}

.singleGraphContainer{
    height: 95%;
    width: 100%;
    background: #5C527F;
    border-radius: 15px;
}

.singleStatContainer{
    text-align: left;
}

.singleStatContainer h3{
    text-align: left;
    margin-top: 10px;
}

.statTextBox{
    margin-top: 20px;
    margin-left: 10px;
}

.innerGraphContainer{
    height: 85%;
}

