.uploadHeading{
    margin-top: 150px;
}



.uploadContainer{
    background: #5C527F;

    height: fit-content;
    width: 45%;

    display: block;
    text-align: center;

    margin: auto;
    margin-top: 50px;

    border-radius: 6px;
    
    padding-bottom: 25px;
}

.uploadFormContainer{
    background: #6E85B2;
    width: 75%;
    margin: auto;
    margin-top: 5px;
    border-radius: 6px;
}

h2{
    padding: 0px;
    margin: 0px;
}

.fileUpload{
    margin-top: 3px;
    text-align: center;
    margin-left: 25px;
    padding: 10px 0px;
}


.statusContainer{
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding-left: 10px;
}

.statsContainer{
    display: flex;
    flex-direction: row;
}

.statContainer{
    width: 45%;
    background-color: #6E85B2;
    margin-top: 0px;
    margin-left: 15px;
    border-radius: 3px;

}
.iterationList{
    margin-top: 0px;
}

.iterationListItem{
    width: fit-content;
    height: fit-content;
    margin: auto, 0px;
}

.iterationItemContainer{
    width: fit-content;
    height: fit-content;
    margin: auto;

    display: flex;
    flex-direction: row;
}

.iterationCheckbox{
    margin-top: 25px;
    margin-left: 25px;
}
